<dom-module id="column-view-back">
  <script>

    Polymer({

      extends: 'button',

      is: 'column-view-back',

      properties: {
        for: String
      },

      listeners: {
        'tap': 'onTap',
      },

      onTap: function() {
        if (this.columnView) this.columnView.back();
      },

      ready: function() {
        var _this = this;

        function init() {
          var columnView = document.getElementById(_this.for);
          if (!_this._isColumnView(columnView)) return;

          _this.columnView = columnView;
          _this.disabled = !_this.canMoveBack;

          columnView.addEventListener("change", function() {
            _this.disabled = !columnView.canMoveBack;
          });
        }

        document.addEventListener('DOMContentLoaded', init, false);
      },

      _isColumnView: function(el) {
        return el && el.nodeType === 1 && el.tagName == "COLUMN-VIEW";
      }

    });
  </script>
</dom-module>
