<!DOCTYPE html>
<html>
<head>
  <title>ColumnView Demo</title>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script type="text/javascript" src="dist/all.js"></script>
  <script type="text/javascript" src="demo-data.js"></script>
  <link rel="stylesheet" type="text/css" href="dist/column-view.css">
  <link rel="stylesheet" type="text/css" href="demo.css">
</head>
<body>
  <button id="backBtn">back</button>
  <div id="column-view" class="column-view">
    <style type="text/css"></style>
    <div class="carriage"></div>
  </div>
  <script type="text/javascript">

    function sourceEvent(value, cb) {
      var event = data.events[value.slice(1)]
      var div = document.createElement("div");
      div.classList.add("event");
      div.innerHTML = "<h2>"+event.name+"</h2>"+event.type+"<br />"+event.lecturer+"<br /><p>"+event.description+"</p>";
      cb({dom: div});
    }

    function sourceNode(value, cb) {
      var node = data.tree[value];
      var childIDs = node[1];
      if (childIDs.length == 0) {
        sourceEmpty(value, cb);
        return;
      }

      var children = childIDs.map(function(id) { 
        if (!node[2]) {
          var n = data.tree[id];
          var value = id;
          return {name : n[0], value: value}; 
        } else {
          var n = data.events[id];
          var value = "e" + id;
          return {name : n.name, value: value}; 
        }
      })
      cb({items: children});
    }

    function sourceEmpty(value, cb) {
      var div = document.createElement("div");
      div.innerHTML = "empty";
      cb({dom: div});
    }

    function source(value, cb) {
      // console.log("source", value);
      var sourceFn = value[0] == 'e' ? sourceEvent : sourceNode;
      sourceFn(value, cb);
    };

    var columnView = document.getElementById("column-view");
    var backBtn = document.getElementById("backBtn");
    backBtn.disabled = true;

    var cv = new ColumnView(
      columnView,
      {
        source: source,
        path: [data.rootID, 7287, 7511, "e14331"],
        onChange: function() {
          backBtn.disabled = !this.canMoveBack();
        },
        layout: "no-mobile"
      }
    );

    backBtn.addEventListener("click", function() {
      cv.back();
    })
      
  </script>
</body>
</html>